<configuration>
  <system.webServer>
    <handlers>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
